<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Classic Bluetooth (Android 8/9) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Android 12+ runtime permissions (ignored on CN80) -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:maxSdkVersion="30" />

    <!-- Required for BT scanning on CN80 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"        android:allowBackup="true"
        android:label="PickLabel"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickLabel">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
